@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  font-weight: 450;
  font-display: swap;
  src: url("../fonts/Newsreader-italic-450.woff2") format("woff2");
}

@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Newsreader-normal-500.woff2") format("woff2");
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/SourceSans3-normal-400.woff2") format("woff2");
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/SourceSans3-normal-600.woff2") format("woff2");
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/SourceSans3-normal-700.woff2") format("woff2");
}
